doctype html
html
    head
        meta(charset='UTF-8')
        title= title
        link(rel='stylesheet', href= path + 'semantic/dist/semantic.min.css')
        link(rel='stylesheet', href= path + 'stylesheets/style.css')
    body(ng-app="app", ng-cloak)
        block content

        block javascripts
            script(src= path + "socket.io/socket.io.js")
            script(src= path + "angular/angular.min.js")
            script(src= path + "jquery/dist/jquery.min.js")
            script(src= path + "javascripts/main.js")
            script(src= path + "javascripts/services/configFactory.js")
            script(src= path + "javascripts/services/indexFactory.js")
            script(src= path + "javascripts/controller/indexController.js")
